<nav class="navbar navbar-expand-md bg-warning-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('pages.home') }}">
            <img src="/static/img/logo.svg" alt="Hanze logo" width="88" height="28">
            <h5 style="font-weight: normal">
                FASTAflow
            </h5>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarNav"
                aria-controls="navBarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('pages.home') }}">Home</a>
                <a class="nav-link" href="{{ url_for('pages.about') }}">About</a>
                <a class="nav-link" href="{{ url_for('pages.import_fasta') }}">Import fasta</a>
            </div>
        </div>
    </div>
</nav>