<!-- imports the base.html file using jinja templates -->
{% extends 'base.html' %}

{% block content %}
    <div class="container-md mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="display-6 mb-4">Understanding FASTA Files</h2>
                <p class="lead mb-4">The universal format for sequence data</p>
                <h4>FASTA: simplicity meets functionality</h4>
                <p>
                    FASTA files are an essential piece of bioinformatics, providing a simple yet
                    powerful format for representing nucleotide or peptide sequences. Developed in the
                    early days if the of DNA sequencing world, they are still a go-to format till this day.
                    Part of this is the simplicity of the format.
                </p>
                <h4>What is a fasta file</h4>
                <p>
                    A FASTA file is a text-based format for representing nucleotide sequences (DNA or RNA) or
                    peptide sequences. Each sequence starts with a header, a single-line description, followed by
                    the lines of sequence data. Each header starts with a greater-than (>) symbol to differentiate
                    the sequence from the header, and consists of a unique identifier and optionally some details
                    about the sequence. The sequence consists of nucleotides or amino acids depending on the type
                    of sequence.
                </p>
                <h4>Why FASTA</h4>
                <p>
                    One of the main advantages of FASTA files, their simplicity, is also one of the main reasons why
                    they have become a universal standard in the bioinformatics world. And by being that universal
                    standard FASTA files play a crucial role in storing and sharing sequence data despite the emergence
                    of newer formats for specific applications.
                </p>
            </div>
            <div class="col-lg-4 align-content-center mb-4">
                <div class="card bg-warning-subtle">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>FASTA file example:</h4>
                        </div>
                        <div class="card-text">
                            <p class="text-wrap mb-4">
                                >Sequence_1_Homo_sapiens_Hemoglobin_alpha_gene
                                ATGGTGCTGTCTCCTGCCGACAAGACCAACGTCAAGGCCGCCTGGGGTAAGGTCGGCGCG...
                            </p>
                            <p class="text-wrap mb-4">
                                >Sequence_2_Mus_musculus_Hemoglobin_alpha_gene
                                ATGGTGCTCTCTGGGGAAGACAAAAGCAACATCAAGGCTGCCTGGGGGAAGATTGGTGGC...
                            </p>
                            <p class="text-wrap mb-4">
                                >Sequence_3_Gallus_gallus_Hemoglobin_alpha_gene
                                ATGGTGCTGTCCGCCGCCGACAAGAACAACGTCAAAGGCATCTTCACCAAAATCGCCGGC...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}