<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>FASTAflow application - {% block title %}{% endblock title %}</title>
</head>
<body>
<h1>FASTAflow</h1>
{% include '_navigation.html' %}
<section>
    <header>
        {% block header %}{% endblock header %}
    </header>
    <main>
        {% block content %}Nothing to show here{% endblock content %}
    </main>
</section>
</body>
</html>