{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Analysis Results{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-warning-subtle">
                <h5 class="card-title">Plots for: {{ header }}</h5>
                <!-- Collapse all/expand all button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="collapse"
                            data-bs-target=".plot-collapse" aria-expanded="false">
                        Toggle All Plots
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">
                        <button class="btn btn-warning w-100 my-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#pieChart" aria-expanded="true">
                            Nucleotide distribution (Pie chart)
                        </button>
                        <div class="collapse show plot-collapse" id="pieChart">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{{ url_for('static', filename='plots/' + pie_plot_filename) }}"
                                         class="img-fluid"
                                         alt="Nucleotide frequency pie chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-warning w-100 my-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#barChart" aria-expanded="false">
                            Nucleotide distribution (Bar chart)
                        </button>
                        <div class="collapse show plot-collapse" id="barChart">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{{ url_for('static', filename='plots/' + bar_plot_filename) }}"
                                         class="img-fluid"
                                         alt="Nucleotide frequency pie chart">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <button class="btn btn-warning w-100 my-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#gcPlot" aria-expanded="false">
                            GC Content on every position (Line Chart)
                        </button>
                        <div class="collapse show plot-collapse" id="gcPlot">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{{ url_for('static', filename='plots/' + gc_plot_filename) }}"
                                         class="img-fluid"
                                         alt="Nucleotide frequency pie chart">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-center m-2">
            <a href="{{ url_for('pages.result') }}" class="btn btn-secondary">Back to Results</a>
        </div>
    </div>
{% endblock content %}