#sequence {
  text-align: left;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre-wrap; /* Preserve formatting and allow wrapping */
  word-wrap: break-word;
}

table {
  overflow-x: auto;
  font-size: medium;
}

